.card {
  border-radius: none;
  height: 173px;
}

.showdown {
  position: relative;
  border-top: 5px solid #66666640;
  border-bottom: 5px solid #66666640;
}

.contender {
  display: flex;
}

.contender h3 {
  font-size: 17px;
  line-height: 21px;
  opacity: 1;
  color: #000;
}

.contender p {
  margin: 0;
  text-transform: uppercase;
}

.contender p a {
  font-size: 14px;
  line-height: 21px;
  color: inherit;
  font-weight: bold;
}

.contender-1 {
  margin: 10px 0 4px;
  padding: 0 0 20px;
  border-bottom: 1px solid #66666640;
}

.contender-1 img {
  margin: 0 20px 0 0;
}

.contender-2 {
  display: flex;
  justify-content: flex-end;
  margin: 4px 0 10px;
  padding: 20px 0 0;
  border-top: 1px solid #66666640;
}

.contender-2 img {
  margin: 0 0 0 20px;
}

.versus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #000;
  border-radius: 50px;
}

.versus p {
  margin: 0;
  color: #fff;
}