.nav-header-1{
  border-right: 1px solid rgba(105,105,105,0.9);
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 0px;
  color: #000000;
}

.nav-header-weather{
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 0px;
  color: #000000;
}

.nav-header-search{
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 10px;
  color: #000000;
  font-size: 16px;
}


/* BUTTON IN HEADER */
button{
  margin:0px;
}
.nav-header-button-1 {
  margin-left: 13px;
}
.nav-header-button-2  {
  margin-left: 10px;
  margin-right: 30px;
  border-radius: 50px;
  width:auto;
  height:80%;
  font-size: 9px;
  background-color: #000000;
}
.btn-icon{
  height: auto;
  font-size: 22px;
  margin-left: 30px;
}

.btn p {
  margin: 0px;
  padding: 0px 5px;
  font-size: 12px;
font-weight: bold;
}

.btn :nth-child(3) {
  margin: 0px;
  padding: 0px 0px 10px 0px;

}

/* MENU ICON TOP RIGHT HEADER*/
.burger-icon{
 padding-right: 0px;
 padding-left: 0px;
}
.burger-icon :nth-child(1){
  font-size: 30px;
}


.nav-header-2{
  color: #545353;
  padding: 10px;
  font-size: 14px;
}


@media (min-width: 760px) { 
  
  .btn :nth-child(3) {
    margin: 0px;
    padding:0px;
  
  }

}
