/* BUTTON IN HEADER */
button{
  margin:0px;
}
/* LOGIN BTN IN HEADER*/
.nav-header-button-1 {
  margin-left: 13px;
}

/* YELLOW BTN IN HEADER */
.nav-header-button-2  {
  margin-right: 5px;
  border-radius: 50px;
  width:auto;
  height:80%;
  color:black;
  border-color: #d9ff00;
  background-color: #d9ff00;
}

/* ICON FOR LOGIN BTN */
.btn-icon{
  height: auto;
  font-size: 22px;
}

.btn p {
  padding:0;
  margin-top: auto;
  margin-bottom: auto;
  font-size: .7em;
font-weight: bold;
}





/* MENU ICON TOP RIGHT HEADER*/
.burger-icon{
 padding-right: 0px;
 padding-left: 0px;
}

.burger-icon :nth-child(1){
  font-size: 30px;
}


.nav-header-2{
  color: #545353;
  padding: 10px;
  font-size: .9em;
}


.nav-header-1{
  border-right: 1px solid rgba(105,105,105,0.9);
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 5px;
  padding-left: 0px;
  color: #000000;
  font-size: 1em;
}

.nav-header-weather{
  font-size: 1em;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 0px;
  color: #000000;
}

.nav-header-search{
  font-size: 1em;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: #000000;
}

.top-article-div-one{
position: relative;
display: flex;
}


.top-article-div-two {
  position: absolute;
  bottom: 0;
  left: 0; 
  width: auto;
  color: #f24423;
  background-color: #ffffff;
  height: 16px;
  font-weight: bold;
  padding: 0px 20px 20px 20px;
  }

 .top-article-div-two p {
  height: 16px;
  font-weight: bold;
  margin: 0;
  }


  
     
@media (min-width: 760px) { 
  
 .header-div-two{
   width: 9000px;
   justify-content: space-between;
 }

}
