/* DEBUG */

.trace {
  border: 1px solid #a30000;
}

.hide {
  display: none;
}

header h1 {
  margin: 0;
  font-family: 'Alfa Slab One', cursive;
  font-size: 73px;
}


.col-two{
  position: sticky;
  top:0;
  height: 2430px;
  }
  
  .col-three{
    position: sticky;
    top: 0;
  height: 1022px;
  }
